body{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

/* Headers */
header h1  {
    background-color: #f2cc0f;
    padding: 1rem 2vw;
    color: #675abf;
    margin: 0;
}
header h2  {
    color: #675abf;
    padding: 1rem 2vw;
    margin: 0;
}


/* Navigation */

nav{
    background-color: #f2e313;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: .85rem 2rem;
}
nav li.active a {
    background-color: #675abf;
    color: #f2e313;
}
nav a:hover {
    color: #f2059f;
}

/* Main */
main {
    padding: 1rem 2vw;
}
main h2 {
    color: #f2059f;
    margin-bottom: .2rem;
}
main p {
    margin: 0 0 .3rem 0;
}
main ul {
    padding: .5rem 3vw;
    background-color: #f2e313;
    list-style-type: circle;
    width: 12.5rem;
    border: 1px solid #675abf;
    border-radius: 5px;
}
main ul li {
    margin-bottom: .5rem;
}
main ol {
    padding: .5rem 3vw;
    background-color: #f2e313; 
    width: 12.5rem;
    border: 1px solid #675abf;
    border-radius: 5px;
}
main ol li {
    margin-bottom: .5rem;
}
main dl dt {
    color: #675abf;
    font-weight: 600;
}
main dl dd {
    font-size: .9rem;
}
main a {
    color: #f2059f;
}
main a:hover {
    color: #f20505;
}
/* footer */
footer {
    background-color: #f2cc0f;
    text-align: center;
    
}



